@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #3498d5;
}

.sidebar *{
    color: white;
    font-weight: 700;
}

.sidebar img{
    display: block;
    height: 1.25em;
}

.logo{
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.sidebar span{
    display: block;
    padding-left: 15px;
    padding-top: 10px ;
}

.sidebar li{
    display: block;
    padding-top:10px;
}

.sidebar a{
    display: flex;
    align-items: center;
}

.nav{
    flex-shrink: 0;
    padding-right: 10px;
}

.nav>ul li:first-child{
    padding-top: 0;
}

.help>ul li:first-child{
    padding-top: 0;
}

.help{
    flex-shrink: 0;
    padding-right: 10px;
}

.logo span{
    font-size: 1.25em;
    padding-left: 10px;
}

.logo img{
    height: 30px;
}

.main-content{
    display: grid;
    grid-template-rows: 150px 1fr;
}

.profile-pic img{
    height: 2.25rem;
    border-radius: 50%;
}

.header{
    display: grid;
    flex-direction: 1fr 2fr;
    box-shadow: 0 5px 5px 0 #ccc;
}

.header-top{
    padding-left: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header-top div{
    display: flex;
    align-items: center;
}

.header-top div:first-child{
    padding-left: 15px;
}

.header-top button{
    width: 1.25rem;
    outline: none;
    border: none;
    background-color: white;
}

#search{
    display: inline-block;
    width: 90%;
    padding-left: 12px;
    padding-right: 10px;
}

#search input{
    height: 25px;
    width: 100%;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
    border: 1px solid white;
    background-color: #E4EAF0;
}

.header-top>div:last-child a{
    font-weight: 700;
}

.header-top div:last-child{
    padding-left: 10px;
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header-bottom{
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom>div:first-child{
    width: 100%;
    display: flex;
}

.header-bottom div:last-child{
    padding-right: 50px;
}

.header-bottom div:first-child span{
    display: block;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header-bottom div:first-child a{
    display: block;
}

.header-bottom div:first-child img{
    height: 4rem;
    border-radius: 50%;
}

.welcome p{
    font-weight: 700;
    padding-left: 15px;
}

.welcome p:first-child{
    padding-top: 15px;
    padding-bottom: 2px;
    font-size: 13px;
}

.welcome p:last-child{
    font-size: 1.25rem;
}

.header-bottom div:last-child button{
    height: 40px;
    width: 90px;
    border-radius: 25px;
    background-color: #3498d5;
    color: white;
    font-weight: 600;
    border: 1px solid white;
}

.header-bottom>div:last-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.content{
    padding: 30px 30px 50px 20px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: #E4EAF0;
}

.projects>h2{
    margin-bottom: 10px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    grid-auto-rows: 1fr;
}

.card{
    background-color: white;
    border-left: 8px solid #EFB93E;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 3px 5px 0 #CCC;
    font-size: 0.9rem;
}

.card h3{
    height: 15%;
}

.card h3:hover{
    text-decoration: underline;
}

.card p{
    height: 70%;
}

.card img{
    height: 1.5rem;
}

.card>div{
    padding-right: 20px;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 10px;
}

.announcements{
    padding-left: 30px;
}

.trending{
    padding-left: 30px;
}
